.page-wrap{
  padding: 0;
}

.content-wrap{
  padding: 2rem 0;
}

header, footer{
  background-color: azure;
  padding: 2rem 0;
}

header .title-wrap{
  padding-top: 1rem;
}

h1, h2, h3 {
  font-style: italic;
  font-weight: 600;
  margin-bottom: 0.7rem;
}

h1{
  font-size: 24px;
  color: #f00;
}

h1 span {
  display: inline-block;
  padding-left: 1rem;
  color: #00137f;
  font-weight: 400;
}

h2{
  font-size: 20px;
  color: #00137f;
}

ul.main-menu li+li{
  margin-top: 0.3rem;
}

a:hover{
  color: #f00;
  transition: all 0.2s ease;
}

.mb-1{
  margin-bottom: 1rem;
}